<div class="row">
</div>
<div class="row">
    <div class="col-md-3 ">
        <div class="navbar sidenav affix">
            <div class="nav">
                <div>
                    <a href="#basic">基本信息<span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
                <div class="">
                    <a href="#expect">期望工作<span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
                <div class="active">
                    <a href="#education">教育经历<span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
                <div>
                    <a href="#experience">工作经历<span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
                <div>
                    <a href="#summary">个人总结<span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
            <p>
                <button type="button" class="btn btn-primary active">保存</button>
                <button type="button" class="btn btn-primary active">预览</button>
            </p>
        </div>
    </div>
    <div class="row col-md-9">
        <div id="basic" class="row profile-block">
            <div class="profile-title">
                <h3>基本信息</h3>
            </div>
            <div class="profile-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="name">真实姓名</label>

                        <div class="col-md-4">
                            <input id="name" name="name" type="text" class="form-control" placeholder="请输入您的真实姓名">
                        </div>
                        <label class="col-md-2 control-label" for="country">国籍</label>

                        <div class="col-md-4">
                            <select id="country" name="country" class="selectpicker form-control" title="请选择国家或地区">
                                <option>中国</option>
                                <option>香港</option>
                                <option>台湾</option>
                                <option>美国</option>
                                <option>加拿大</option>
                                <option>欧洲</option>
                                <option>大洋洲</option>
                                <option>其他</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="academicDegree">学历</label>

                        <div class="col-md-4">
                            <select id="academicDegree" name="academicDegree" class="selectpicker form-control"
                                    title="请选择学历">
                                <option>高中</option>
                                <option>大专</option>
                                <option>本科</option>
                                <option>硕士</option>
                                <option>博士</option>
                            </select>
                        </div>
                        <label class="col-md-2 control-label" for="workYear">工作年限</label>

                        <div class="col-md-4">
                            <select id="workYear" name="workYear" class="selectpicker form-control" title="请选择工作年限">
                                <option>一年</option>
                                <option>两年</option>
                                <option>三年</option>
                                <option>三至五年</option>
                                <option>五至八年</option>
                                <option>八年以上</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="gender">性别</label>

                        <div class="col-md-4">
                            <select id="gender" name="gender" class="selectpicker form-control" title="请选择性别">
                                <option>男</option>
                                <option>女</option>
                            </select>
                        </div>
                        <label class="col-md-2 control-label" for="birthday">生日</label>

                        <div class="col-md-4">
                            <input id="birthday" name="birthday" type="text" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="currentProvince">现工作地点</label>

                        <div class="col-md-4">
                            <select id="currentProvince" name="currentProvince" class="selectpicker form-control"
                                    id="请选择现在工作地点">
                                <option>湖北</option>
                                <option>其他</option>
                            </select>
                        </div>
                        <label class="col-md-2 control-label" for="currentSalary">现年薪</label>

                        <div class="col-md-4">
                            <div class="input-group">
                                <input id="currentSalary" name="currentSalary" type="text" class="form-control">

                                <div class="input-group-addon">万</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mobile" class="col-md-2 control-label">手机号码</label>

                        <div class="col-md-4">
                            <input id="mobile" type="text" class="form-control" name="mobile">
                        </div>
                        <label for="email" class="col-md-2 control-label">Email</label>

                        <div class="col-md-4">
                            <input id="email" type="text" class="form-control" name="email" readonly>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr/>
        <div id="expect" class="row profile-block">
            <div class="profile-title">
                <h3>期望工作</h3>
            </div>
            <div class="profile-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="desiredLocation" class="col-md-2 control-label">期望工作地点</label>

                        <div class="col-md-4">
                            <input id="desiredLocation" type="text" value="湖北" readonly/>
                        </div>
                        <label for="desiredSalary" class="col-md-2 control-label">期望年薪</label>

                        <div class="col-md-4">
                            <div class="input-group">
                                <input id="desiredSalary" name="desiredSalary" class="form-control" type="text">

                                <div class="input-group-addon">万</div>
                            </div>
                        </div>

                    </div>
                    <span id="helpBlock" class="help-block">备注: CXOMAN现在只对愿意回湖北的人才开放注册</span>

                    <div class="form-group">
                        <label for="skills" class="col-md-2 control-label">专业技能</label>

                        <div class="col-md-10">
                            <input id="skills" type="text" name="skills" class="form-control">
                        </div>
                        <span class="help-block">使用英文逗号字符或回车添加更多</span>
                    </div>
                </form>
            </div>
        </div>
        <hr/>
        <div id="education" class="row profile-block">
            <div class="profile-title">
                <h3>教育经历</h3>
            </div>
            <div class="profile-body"></div>
        </div>
        <hr/>
        <div id="experience" class="row profile-block">
            <div class="profile-title">
                <h3>工作经历</h3>
            </div>
            <div class="profile-body"></div>
        </div>
        <hr/>
        <div id="summary" class="row profile-block">
            <div class="profile-title">
                <h3>个人总结</h3>
            </div>
            <div class="profile-body"></div>
        </div>
        <hr/>
        <div id="privacy" class="row profile-block">
            <div class="profile-title">
                <h3>隐私保护</h3>
            </div>
            <div class="profile-body"></div>
        </div>
    </div>
</div>
<script>
    $('#birthday').datepicker({
        autoclose: true,
        language: 'zh-CN',
        startView: 'decade'
    });

    $('#skills').tagsinput({
        trimValue: true,
        tagClass: 'label-primary',
        maxChars: 16
    });
</script>